body
{
	background: #ce4a4a;
}

	.login_div1 , .login_div2
	{
		background: rgb(55, 41, 240);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left:20px;
	text-decoration:rgb(238, 234, 8);
}

